In [244]:
import numpy as np
import pandas as pd

In [245]:
df=pd.read_csv('ERS_DATASET.csv')

In [246]:
df.head(3)

,Unnamed: 0,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,payrate,skills,uniq_id
0,1,HANSUM INDIA ELECTRONICS PVT.LTD.,"UG: Diploma - Any Specialization, Electronics/...",1,"['Industrial Products ', ' Heavy Machinery']",pend handl entir product line 30 employees. ha...,9904,['Bengaluru'],Team Leader,"1,00,000 - 2,00,000 P.A",Production,14053
1,2,Premium,UG: Any Graduate - Any Specialization PG:Any P...,1,"['FMCG ', ' Foods ', ' Beverage']","tray product-start-up help restaur market, eng...",7705,"['Mumbai,', 'Delhi,', 'Bengaluru']",Business Development Manager,-,strategic skills ms office teamwork communicat...,11861
2,3,R3 Plant Design,"UG: B.Tech/B.E. - Mechanical, Mineral, Mining,...",3,"['Industrial Products ', ' Heavy Machinery']",descript : interest real mechan design.. If So...,9909,['Bengaluru'],Design Engineer,"1,50,000 - 3,75,000 P.A",Engineering Design,13923

In [247]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [248]:
df.head(3)

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,payrate,skills,uniq_id
0,HANSUM INDIA ELECTRONICS PVT.LTD.,"UG: Diploma - Any Specialization, Electronics/...",1,"['Industrial Products ', ' Heavy Machinery']",pend handl entir product line 30 employees. ha...,9904,['Bengaluru'],Team Leader,"1,00,000 - 2,00,000 P.A",Production,14053
1,Premium,UG: Any Graduate - Any Specialization PG:Any P...,1,"['FMCG ', ' Foods ', ' Beverage']","tray product-start-up help restaur market, eng...",7705,"['Mumbai,', 'Delhi,', 'Bengaluru']",Business Development Manager,-,strategic skills ms office teamwork communicat...,11861
2,R3 Plant Design,"UG: B.Tech/B.E. - Mechanical, Mineral, Mining,...",3,"['Industrial Products ', ' Heavy Machinery']",descript : interest real mechan design.. If So...,9909,['Bengaluru'],Design Engineer,"1,50,000 - 3,75,000 P.A",Engineering Design,13923

In [249]:
d=df[['jobtitle','skills','jobdescription']]

In [250]:
len(d)

2015

In [251]:
d['skills'][0]

'Production'

In [252]:
d['skills']

0                                              Production
1       strategic skills ms office teamwork communicat...
2                                      Engineering Design
3                   IT Software - Application Programming
4                   IT Software - Application Programming
                              ...
2010    marketing communication skills planning abilit...
2011    marketing communication skills planning abilit...
2012                                                Sales
2013                                 IT Software - Mobile
2014                                                Sales
Name: skills, Length: 2015, dtype: object

In [253]:
ls=[]
for i in d['skills']:
    ls.append(str(i).lower())

In [254]:
ls[1]

'strategic skills ms office teamwork communication skills marketing'

In [255]:
d['skills']=ls

C:\Users\HARSHIT\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [256]:
def get_jaccard_sim(str1, str2):              #jacard similarity
    a = set(str1.split()) 
    b = set(str2.split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

In [257]:
lps=[]
test="java web teamwork php"
for j in range(len(d)):
    lps.append(get_jaccard_sim(test,d.jobdescription[j]))

In [258]:
d['jacard'] = lps
g = set(lps)
final = list(g)
final.sort(reverse=True)

C:\Users\HARSHIT\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [259]:
d.head(3)

,jobtitle,skills,jobdescription,jacard
0,Team Leader,production,pend handl entir product line 30 employees. ha...,0.0
1,Business Development Manager,strategic skills ms office teamwork communicat...,"tray product-start-up help restaur market, eng...",0.0
2,Design Engineer,engineering design,descript : interest real mechan design.. If So...,0.0

In [260]:
t=[]
y=[]
l=[]
for i in range(len(final)-1):
    t = d[d['jacard']==final[i]].jobtitle
    r = set(t)
    y.append(list(r))


y=list(y)

print("You can apply for the following Job Profiles :")
for i in range(len(y)):
    if i==10:
        break
    #print(i+1," - ",y[i][0])
    l.append(y[i][0])
s=set(l)
s=list(s)
for i in range(len(s)):
    print(i+1," - ",s[i])

You can apply for the following Job Profiles :
1  -  Java Developers
2  -  Java Developer
3  -  Senior Software Engineer
4  -  Web Developer
5  -  Php Developer
6  -  ANDROID DEVELOPER
7  -  PHP Developer

In [261]:
d.head(3)

,jobtitle,skills,jobdescription,jacard
0,Team Leader,production,pend handl entir product line 30 employees. ha...,0.0
1,Business Development Manager,strategic skills ms office teamwork communicat...,"tray product-start-up help restaur market, eng...",0.0
2,Design Engineer,engineering design,descript : interest real mechan design.. If So...,0.0

In [262]:
d.drop(['jacard'],axis=1,inplace=True)

C:\Users\HARSHIT\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [263]:
d.head(3)

,jobtitle,skills,jobdescription
0,Team Leader,production,pend handl entir product line 30 employees. ha...
1,Business Development Manager,strategic skills ms office teamwork communicat...,"tray product-start-up help restaur market, eng..."
2,Design Engineer,engineering design,descript : interest real mechan design.. If So...

In [264]:
d.head(3)

,jobtitle,skills,jobdescription
0,Team Leader,production,pend handl entir product line 30 employees. ha...
1,Business Development Manager,strategic skills ms office teamwork communicat...,"tray product-start-up help restaur market, eng..."
2,Design Engineer,engineering design,descript : interest real mechan design.. If So...

In [265]:

from sklearn.feature_extraction.text import TfidfVectorizer
TfidfVec = TfidfVectorizer()
def cos_similarity(textlist):
    tfidf = TfidfVec.fit_transform(textlist)
    return (tfidf * tfidf.T).toarray()

In [266]:
#des1="I required java developer, Android and web dev for my project java"
#des2="I like java,web and Android "

#docs=[des1,des2]

lps=[]
test="python machine learning data science django deep learning"
for j in range(len(d)):
    sim=cos_similarity([test,d.jobdescription[j]])
    lps.append(sim[0][1])


#cos_similarity(docs)

In [267]:
type(lps)

list

In [268]:
d['cosin'] = lps
g = set(lps)
final = list(g)
final.sort(reverse=True)

C:\Users\HARSHIT\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [269]:
t=[]
y=[]
l=[]
for i in range(len(final)-1):
    t = d[d['cosin']==final[i]].jobtitle
    r = set(t)
    y.append(list(r))


y=list(y)

print("You can apply for the following Job Profiles :")
for i in range(len(y)):
    if i==10:
        break
    #print(i+1," - ",y[i][0])
    l.append(y[i][0])
s=set(l)
s=list(s)
for i in range(len(s)):
    print(i+1," - ",s[i])

You can apply for the following Job Profiles :
1  -  Python Developer
2  -  Software Engineer
3  -  Senior Software Engineer
4  -  Data Analyst
5  -  Senior Analyst
6  -  Business Analyst

In [270]:
t

1453    Associate Consultant
Name: jobtitle, dtype: object

In [271]:
l=set(l)

In [272]:
l

{'Business Analyst',
 'Data Analyst',
 'Python Developer',
 'Senior Analyst',
 'Senior Software Engineer',
 'Software Engineer'}

In [273]:
skill_set=["python machine learning data science django deep learning","java android flutter app dev","python programming coding"
           ,"full stack","html css bootstrap"]